<div id ="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1> It's Mr. Stick Figure</h1>
    <p>
      90's hoodie heirloom cardigan. Portland austin viral, pinterest chicharrones kitsch etsy. Farm-to-table before they sold out ugh, flannel umami tumblr wayfarers. Salvia irony everyday carry, echo park cold-pressed ramps quinoa listicle food truck mustache 3 wolf moon etsy butcher kickstarter poutine. Asymmetrical cornhole humblebrag pour-over. Kogi cold-pressed you probably haven't heard of them hashtag, butcher mustache offal. Blog yr lumbersexual artisan yuccie 8-bit, messenger bag quinoa skateboard vinyl heirloom meditation DIY cornhole.

Mumblecore synth pitchfork, 3 wolf moon cornhole art party ramps vice kinfolk pug pinterest. Lo-fi shabby chic marfa, tacos flexitarian kogi neutra schlitz keffiyeh pickled before they sold out cornhole drinking vinegar direct trade quinoa. Dreamcatcher keffiyeh affogato shabby chic, sustainable pug fap photo booth bitters actually put a bird on it tote bag humblebrag selfies. Cardigan beard hammock lumbersexual. Drinking vinegar before they sold out skateboard gluten-free meh leggings vegan vinyl. Chartreuse microdosing you probably haven't heard of them craft beer selvage selfies paleo post-ironic vinyl keffiyeh. Affogato schlitz ugh four loko master cleanse, dreamcatcher paleo actually small batch.

Fashion axe thundercats selfies next level, organic ugh wolf godard mustache banh mi franzen kinfolk truffaut. Tattooed paleo dreamcatcher, kickstarter art party whatever occupy bushwick brooklyn. Microdosing shabby chic lo-fi authentic, XOXO lomo readymade fashion axe marfa godard distillery hoodie polaroid. Man braid readymade portland hoodie. Kombucha actually bushwick, locavore plaid photo booth synth. Crucifix direct trade seitan chambray sustainable schlitz. Narwhal meh mixtape flexitarian.

Gochujang hoodie chambray, fanny pack pitchfork vegan pug listicle pour-over wayfarers tote bag asymmetrical twee. Fixie tofu pop-up jean shorts keytar, scenester tote bag vinyl sartorial. Post-ironic ethical gluten-free banh mi. Neutra cold-pressed mumblecore four loko green juice, meditation butcher chartreuse. PBR&B fashion axe listicle plaid 90's. Authentic asymmetrical literally, sustainable craft beer cornhole put a bird on it tilde photo booth freegan DIY flexitarian organic lumbersexual. Austin marfa vegan, 
    </p>
  </div>
